/*Pour rendre invisible sur mobile*/
.visible {
    display: none;
}

/*Couleur du bandon de la navbar*/
.bg-sm-light {
    color: #ffffff;
    background-color: #1374c9;
}

/*Texte noir pour les mobile*/
.mobile-nav-text {
    color: #ffffff;
}

/*Affiche les icones de paniers et la recherche sur mobile*/
.mobile-visible {
    display: block;
}

/*Supprime la bordure de l'amburgueure*/
.border-none {
    border: none;
}
@media (min-width: 1000px) {
    .visible {
        display: block;
    }
    .mobile-visible {
        display: none;
    }
    .bg-sm-light {
        color: #ffff;
        background-color: #121920;
    }

    .mobile-nav-text {
        color: #fff;
    }
    
}

/*Pour placer le trait en bas des devices et connexion*/
.boder-botom {
    border-bottom: 1px solid #bebebe;
}

/*pour le logo*/
.container-logo {
    padding: 20px;
}

/*Marge pour positionner à gauche si text-end ne fonctionne pas*/
.marge {
    text-align: left;
    padding-left: 300px;
}

/*Ajustement de la marge du logo sur le mobile*/
@media (max-width: 700px) {
    .marge {
        text-align: left;
        padding-left: 0;
    }
  }

  /*pour donner un style rond cliquable à l'icone du panier*/
.shop-icon {
    color: #000;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 50%;
    text-align: center;
    padding: 12px 12px 10px 10px;
}

.shop-icon.active {
    background-color: #18bc9c;
    color: #fff;
}

.shop-icon:hover{
    color: #ffff;
    width: 50px;
    height: 50px;
    background-color: #18bc9c;
    border-radius: 50%;
    text-align: center;
    padding: 12px 12px 10px 10px;
    transition: .3s;
}



/* Création de la bannièere*/

.baniere {
    margin: auto;
    width: 100%;
    height: 540px;
    background-image: url(../images/baner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.new-prd {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    font-weight: bolder;
}

.fashion {
    font-size: 5rem;
}

/*Pour les images en arriere plan des produits recents*/
.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 10px 10px;
}

.new {
    display: flex;
    justify-content: space-between;
}
.items {
    margin: 50px 0;
}

.show-items .items {
    opacity: 0;
}
.show-items .items:hover {
    transition: .3s ease-in;
    opacity: 1;
}

.tall {
    font-size: 15px;
}

@media (max-width: 700px) {   
    .fashion {
        font-size: 3rem;
    }
}
